#creditModal .modal-content{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#creditModal .modal-content .modal-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#creditModal .modal-content .modal-header h5{
    color:white;
}

#creditModal .modal-content .modal-body{
    width:auto;
    height: auto;
}

#creditModal .modal-content .modal-body .content-div{
    padding: 20px; 
    background-color: #f9f9f9; 
    border-radius: 12px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #2e2e2e; line-height: 1.6;
}

#creditModal .modal-content .modal-body .content-div h2{
    margin-bottom: 10px; 
    color: #2b4c7e;
}